{% extends 'base.html' %}
{% block title %}login{% endblock %}
{% block script %}
<style type="text/css">
    body {
      background-color: #DADADA;
    }
    h2{color:#9F35FF}
    button{background-color:color:#9F35FF}
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
<script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            username: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your username'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                <!--{-->
                  <!--type   : 'length[6]',-->
                  <!--prompt : 'Your password must be at least 6 characters'-->
                <!--}-->
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
{% endblock %}
{% block content %}
{% if error %}
    <h1>Sorry, {{error}}</h1>
{% else %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
          <img class="image" src="{{url_for('static', filename='timg.png')}}">
          <div>
            Log-in to your account
          </div>
        </h2>
        <form class="ui large form" method="post" action="login">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input name="username" type="text" placeholder="Username">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input name="password" type="password" placeholder="Password">
              </div>
            </div>
            <button class="ui fluid large teal submit button">Login</button>
          </div>
        <div class="ui error message"></div>
        </form>
        <div class="ui message">
            New to us? <a href="register">Sign Up</a>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}



