{% extends 'base.html' %}
{% block title %}login{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
<div class="ui raised very padded text container segment">
    <div class="ui center aligned container">
        <h2 class="ui header">{{title}}</h2>
    </div>
    <div class="ui horizontal divider">*</div>
    <div class="ui center aligned container">
        <div class="ui button"><a href="{{last}}">上一页</a></div>
        <div class="ui button"><a href="{{return_}}">返回目录</a></div>
        <div class="ui button"><a href="/">返回首页</a></div>
        <div class="ui button"><a href="{{next}}">下一页</a></div>
    </div>
    <div class="ui horizontal divider">*</div>
    <p>{{ content|safe }}</p>
</div>
{% endblock %}



